@import url(./normalize.css); /*modern css resetting styles*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@font-face{
  font-family: 'Railway';
  src: url('../content/Railway_font/Raleway-ExtraLight.ttf') format('ttf');
}

:root{
  --sidebar-bg: ;
  --border-color: ;
}

body{
  min-height: 100vh;
}

/* jpeg and svg images dimensions */

ul#top-navigation li img, ul#bottom-navigation li img, img[alt="magnify icon"], img[alt="bell icon"], ul.model-features li img{
  width: calc(1em + 1vw);
  aspect-ratio: 1 / 1;
}

section#side-navbar div.dashboard-logo img{
  width: calc(2em + 1.5vw);
  aspect-ratio: 1 / 1;
}

img[alt="other user profile"], div#top-features div.user-info img[alt="user profile"]{
  width: calc(2rem + 1vw);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
div#user-profile img.small-user-profile{
  width: calc(1.5rem + 1vw);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

/* styleing the layout */

body{
  display: grid;
  grid-template-columns: minmax(110px, 1fr) 5fr;
  grid-template-rows: 1fr;
}

section#side-navbar{
  padding: calc(10px + 0.2vw);
  display: flex;
  flex-flow: column;
  row-gap: 30px;
}

section#side-navbar ul li, section#side-navbar div.dashboard-logo{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

section#side-navbar ul{
  display: flex;
  flex-flow: column;
  gap: 5px;
}

section#main-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 40px;
}

section#main-content > div{
  display: grid;
  grid-template-rows: max-content 1fr;
}

section#projects{
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin: 5px 20px 30px 20px;
}

section#main-content > div h2{
  margin-left: 15px;
}

section#main-content section#side-content{
  margin: 0 15px 30px 0px;
  display: flex;
  flex-flow: column;
  gap: 60px;
}

section#side-content article#announcements{
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-flow: column;
  margin-top: 5px;
}

section#side-content div article#announcements div.announcement{
  padding: 10px;
}

article#announcements div.announcement + div{
  border-top: 1px solid;
}

section#side-content article#trending-topics{
  display: flex;
  flex-flow: column;
  padding: 0 15px 15px 15px;
  margin-top: 5px;
  border: 1px solid;
}

section#side-content article#trending-topics div.other-users{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

section#projects article{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: calc(5px + 1vw);
  border: 1px solid;
}

section#projects article h3{
  margin-bottom: 5px;
}

section#projects article ul{
  display: flex;
  column-gap: 10px;
  align-self: end;
}

section#main-content section#top-content{
  padding: 10px 30px;
  display: grid;
  gap: 20px;
  grid-column: 1 / -1;
}

section#main-content section#top-content div.top, div#user-profile{
  display: flex;
}


div.top div#search-section{
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 10px;
}

div.top div#user-profile{
  display: flex;
  gap: calc(5px + 1vw);
  align-items: center;
}

div.top div#search-section input{
  width: 80%;
  height: 25px;
}

section#top-content div#top-features, div.user-info, ul#short-features{
  display: flex;
  flex-flow: row nowrap;
  margin-right: 5px;
}

section#top-content{
  border: 1px solid;
}

section#top-content div#top-features{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

div#top-features div.user-info{
  column-gap: 15px;
}

div#top-features ul#short-features{
  column-gap: 20px;
}